#scrollable-root {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 96px;
  width: 96px;
  z-index: 9999;
  pointer-events: none;
}

#scrollable-root.middle-right {
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}

#scrollable-root.bottom-right {
  bottom: 0;
  right: 0;
}

#scrollable-root.top-right {
  top: 0;
  right: 0;
}

#scrollable-root.middle-left {
  top: 50%;
  transform: translateY(-50%);
}

#scrollable-root.bottom-left {
  bottom: 0;
}

#scrollable-root.top-left {
  top: 0;
}

#scrollable-root button {
  height: 32px;
  width: 32px;
  padding: 0px;
  border: none;
  border-radius: 16px;
  background-color: rgb(255, 255, 255, 0.3);
  box-shadow: 2px 4px 4px #323333;
  backdrop-filter: blur(2px);
  cursor: pointer;
  pointer-events: all;
}

#scrollable-root button:focus {
  outline: none;
}

#scrollable-root button:hover {
  box-shadow: 4px 6px 6px #323333;
  background-color: rgb(255, 255, 255, 0.7);
}

#scrollable-root svg {
  height: 32px;
  width: 32px;
  opacity: 0.6;
}

#scrollable-root button:hover svg {
  opacity: 1;
}

#scrollable-root button.scroll-to-top:hover svg path {
  fill: #f0f1f2;
}

#scrollable-root button.scroll-to-bottom:hover svg path {
  fill: #f0f1f2;
}

#scrollable-root button.options:hover svg path {
  fill: #c2c3c4;
}

#scrollable-root button.support:hover svg path {
  fill: #ff9d89;
}
