#scroll-root {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  bottom: 0;
  right: 0;
  height: 96px;
  width: 96px;
}

#scroll-root button {
  height: 32px;
  width: 32px;
  padding: 0px;
  border: none;
  border-radius: 16px;
  background-color: #ffffff;
  box-shadow: 2px 4px 4px #323333;
  backdrop-filter: blur(16px);
  cursor: pointer;
  opacity: 0.3;
}

#scroll-root button:focus {
  outline: none;
}

#scroll-root button:hover {
  box-shadow: 4px 6px 6px #323333;
  opacity: 0.7;
}

#scroll-root svg {
  height: 32px;
  width: 32px;
}

#scroll-root button.scroll-to-top:hover svg path {
  fill: #f0f1f2;
}

#scroll-root button.scroll-to-bottom:hover svg path {
  fill: #f0f1f2;
}

#scroll-root button.options:hover svg path {
  fill: #c2c3c4;
}

#scroll-root button.support:hover svg path {
  fill: #ff9d89;
}
